@import "reset";

body,
html {
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

$color-accent: #6ee8fd;
$border-color: #696969;
$btn-color: #b3b3b3;
$btn-hover-color: #dadada;
$placeholder-color: #b9b9b9;

::placeholder { 
	color: $placeholder-color;
}

.app {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 5rem;

	&__title {
		font-weight: 700;
		font-size: 1.8rem;
		margin-bottom: 4rem;
	}

	&__search-container {
		width: 500px;
	}

	&__search-bar {
		height: 50px;
		width: 100%;
		font-size: 1.3rem;
		position: relative;
		z-index: 10;
		padding: 1.5rem;
	}

	&__search-list {
		position: relative;
		height: fit-content;
		left: 0;
    top: -3rem;
		max-height: 17rem;
		width: 100%;
		border: 1px solid $border-color;
		padding-top: 1.2rem;
		text-align: left;
		border-radius: 10px;
		font-size: 1.3rem;
		overflow-y: scroll;
		overflow-x: hidden;
		z-index: 5;
		display: none;
	}

	&__search-item {
		padding: 1rem;
	}
	
	&__search-item:hover {
		background-color: $color-accent;
	}
	
	&__search-item--selected {
		background-color: $color-accent;
	}
	
	&__clear-btn {
		position: relative;
		z-index: 30;
		top: -2.8rem;
    right: 1rem;
		height: 18px;
		width: 18px;
		border-radius: 50%;
		padding: 0.5rem;
		font-size: 1.3rem;
		font-weight: 800;
		background-color: $btn-color;
		display: none;
		margin-left: auto;
	}
	
	&__clear-btn:hover {
		background-color: $btn-hover-color;
	}
}

